////
/// Compatibility with legacy repos (ofs_elements, ofs_frontend_tookkit and
/// ofs_template) settings
///
/// We default these settings to `true` so that if they are missed we opt for a
/// mild performance hit over a potential broken experience for the end-user.
///
/// @group settings/compatibility
////


/// Compatibility Mode: alphagov/ofs_frontend_toolkit
///
/// True if used in a project that also includes alphagov/ofs_frontend_toolkit.
///
/// @type Boolean
/// @access public

$ofs-compatibility-ofsfrontendtoolkit: false !default;

/// Compatibility Mode: alphagov/ofs_template
///
/// True if used in a project that also includes alphagov/ofs_template.
///
/// @type Boolean
/// @access public

$ofs-compatibility-ofstemplate: false !default;

/// Compatibility Mode: alphagov/ofs_elements
///
/// True if used in a project that also includes alphagov/ofs_elements.
///
/// @type Boolean
/// @access public

$ofs-compatibility-ofselements: false !default;

/// Compatibility Product Map
///
/// Maps product names to their settings that we can use to lookup states from
/// within the `@ofs-compatibility` mixin.
///
/// @type Map
/// @access private

$_ofs-compatibility: (
  ofs_frontend_toolkit: $ofs-compatibility-ofsfrontendtoolkit,
  ofs_template: $ofs-compatibility-ofstemplate,
  ofs_elements: $ofs-compatibility-ofselements,
);
