@import "../../styles.scss";

.video-jumbotron {
    background-color: $ofs-brand-colour-4;

    h1 {
        color: $ofs-brand-colour;
    }

    &__video {
        padding: 10px 0;
    }

    &__text {
        padding: 10px 0 0 0;
        margin-bottom: 20px;
    }
}