@import "../../styles/all";


.check-list__section-break {
    padding: 0 50px;
}

.ofs-checklist__title {
    margin: 20px 0 10px 0 !important;
}

.ofs-checklist__left-item {
    padding-right: 30px;
}


.ofs-checklist__right-item {
    padding-left: 30px;
}

.ofs-jumbotron__title {
    margin: 10px 0 !important;
}