@import "../../styles.scss";

.ofs-outcomes__header {
    margin-bottom: 10px !important;
    padding: 10px;
}

.ofs-outcomes__careers-container {
    background-color: ofs-colour("white");
    
}

.ofs-outcomes__careers-break {
    margin: 0 50px !important;
}