@import "../../styles.scss";

.ofs-anchor-list__item {
    &::before{
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: $ofs-brand-colour-4;
        margin-right:ofs-spacing(1);
    }
}


.ofs-anchor-list__link__icon {
    padding-left: ofs-spacing(1);
    height: 8px;
}

.ofs-anchor-list__item--selected {
    &::before{
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: $ofs-brand-colour;
        margin-right:ofs-spacing(1);
    }
}