////
/// @group helpers
////

/// Clear floated content within a container using a pseudo element
///
/// @access public

@mixin ofs-clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
