@import "../../../../../styles/ofs/all.scss";

@include ofs-exports("ofs/component/breadcrumbs") {

  // Size of chevron (excluding border)
  $chevron-size: 7px;

  // Size of chevron border
  $chevron-border-width: 1px;

  // Colour of chevron
  $chevron-border-colour: ofs-colour("white");

  // Calculated altitude (△↕) of the right-angled isosceles chevron with sides
  // of length 8 (7px + 1px border):
  //
  // √(8² + 8²) * 0.5 ≅ 5.655
  $chevron-altitude-calculated: 5.655px;

  $breadcrumbs-background: $ofs-brand-colour;

  .ofs-breadcrumb-bar {
    background-color: $breadcrumbs-background;
  }

  .ofs-breadcrumbs {
    @include ofs-font($size: 16);
    color: ofs-colour("white");

    // margin-top: ofs-spacing(3);
    // margin-bottom: ofs-spacing(2);
  }

  .ofs-breadcrumbs__list {
    @include ofs-clearfix;

    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .ofs-breadcrumbs__list-item {

    display: inline-block;
    position: relative;

    margin-bottom: ofs-spacing(1);

    // Add both margin and padding such that the chevron appears centrally
    // between each breadcrumb item
    margin-left: ofs-spacing(2);
    padding-left: ofs-spacing(2) + $chevron-altitude-calculated;

    float: left;

    // Create a chevron using a box with borders on two sides, rotated 45deg.
    &:before {
      content: "";
      display: block;

      position: absolute;

      // Begin adjustments for font baseline offset
      // These should be reverted when the font is updated with the correct
      // baseline

      // top: 0;
      // bottom: 0;

      top: -1px;
      bottom: 1px;

      // End adjustments for font baseline offset

      // Offset by the difference between the width of the non-rotated square
      // and its width when rotated
      left: (($chevron-altitude-calculated * -2) + $chevron-size + $chevron-border-width);

      width: $chevron-size;
      height: $chevron-size;

      margin: auto 0;

      transform: rotate(45deg);

      border: solid;
      border-width: $chevron-border-width $chevron-border-width 0 0;
      border-color: $chevron-border-colour;

      // Fall back to a greater than sign for IE8
      @include ofs-if-ie8 {
        content: "\003e"; // Greater than sign (>)
        width: auto;
        height: auto;
        border: 0;
        color: $chevron-border-colour;

        // IE8 doesn't seem to like rendering pseudo-elements using @font-faces,
        // so fall back to using another sans-serif font to render the chevron.
        font-family: Arial, sans-serif;
      }
    }

    &:first-child {
      margin-left: 0;
      padding-left: 0;

      &:before {
        content: none;
        display: none;
      }
    }
  }

  .ofs-breadcrumbs__link {
    @include ofs-link-common;
    // Override link colour to use text colour
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: ofs-colour("white");
    }

    // alphagov/ofs_template includes a specific a:link:focus selector designed
    // to make unvisited links a slightly darker blue when focussed, so we need to
    // override the text colour for that combination of selectors.
    @include ofs-compatibility(ofs_template) {
      &:link:focus {
        color: ofs-colour("white");
      }
    }
  }
}
